altgraph==0.17.5
branca==0.8.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
customtkinter==5.2.2
darkdetect==0.8.0
folium==0.20.0
idna==3.11
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.3.5
packaging==25.0
pefile==2024.8.26
pillow==12.0.0
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pynput==1.8.1
pywin32-ctypes==0.2.3
requests==2.32.5
setuptools==80.9.0
six==1.17.0
urllib3==2.5.0
xyzservices==2025.11.0
